# Virtual Environment
.venv/

# Ignore files or directories starting with "."
.*
*/.*
!.pre-commit-config.yaml

# Any temporary files
*_cache
.DS_Store

# Python-specific
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/

# Coverage
.coverage
htmlcov/
.coverage.*

# pytest
__pytest_cache__/
pytestdebug.log

# Markdown files
*.md

# Docker
*Dockerfile*
docker-compose.override.yml
*.log
*.pid
